<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{{ app.name }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/img/favicon/favicon.ico" rel="icon" />
    <script src="/static/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script>
      // Variable to store the refresh interval
      let refreshInterval;

      // Function to toggle auto-refresh based on checkbox status
      function toggleAutoRefresh(checkbox) {
        if (checkbox.checked) {
          // Set an interval to automatically refresh the page every 5 seconds
          refreshInterval = setInterval(function() {
              location.reload(); // Reloads the page
          }, 5000); // 5000 milliseconds = 5 seconds
          // Save checkbox state in sessionStorage
          sessionStorage.setItem('autoRefresh', 'true');
        } else {
          // Clears the interval and stops the auto-refresh
          clearInterval(refreshInterval);
          // Remove checkbox state from sessionStorage
          sessionStorage.setItem('autoRefresh', 'false');
        }
      }

      // Function to initialize the page based on saved checkbox state
      function initializeCheckbox() {
        const autoRefresh = sessionStorage.getItem('autoRefresh');
        const checkbox = document.getElementById('auto-refresh');

        // If the checkbox state is saved as 'true', check the box and start the refresh
        if (autoRefresh === 'true') {
          checkbox.checked = true;
          // Start the auto-refresh
          toggleAutoRefresh(checkbox);
        } else {
          checkbox.checked = false; // Otherwise, make sure the checkbox is unchecked
        }
      }

      // Initialize the checkbox state when the page loads
      window.onload = initializeCheckbox;
    </script>
</head>

<body class="demo-bg-{{ app.color }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{ app.name }}</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                    <i class="fas fa-home"></i>
                    &nbsp;
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/info">
                    <i class="fas fa-wrench"></i>
                    &nbsp;
                    Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/echo">
                  <i class="fas fa-volume-up"></i>
                    &nbsp;
                    Echo
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/help" type="text/html">
                  <i class="fas fa-info-circle"></i>
                    &nbsp;
                    Help
                </a>
              </li>
            </ul>
            <!-- Checkbox aligned to the right -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item d-flex align-items-center">
                <i class="fas fa-sync-alt"></i>
                &nbsp;
                <label for="name">Refresh</label>
                &nbsp;
                <input
                  id="auto-refresh"
                  type="checkbox"
                  alt="toggle auto refresh"
                  title="toggle auto refresh"
                  onclick="toggleAutoRefresh(this)"
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="pt-5">
        <a href="https://gitlab.com/malfter/demo-app">
            <img src="../static/img/logo-125x125.png" class="rounded mx-auto d-block" alt="Logo">
        </a>
    </div>
    <h1 class="text-center m-3">{{ app.name }}</h1>
    <div class="container body-content">{% block content %}{% endblock %}</div>
</body>

<footer class="text-center fixed-bottom bg-light">
    <div class="p-2 demo-fs-7">
        Build: {{ app.build_rev }} - {{ app.build_date }}
        &nbsp;|&nbsp;
        <a href="mailto:git@alfter-web.de">Author: Markus Alfter</a>
    </div>
</footer>

</html>
